h1{
  color:rgb(3, 70, 82);
  text-align: center;
}
body{
  background-color: rgb(226, 210, 197);
  background-image: url(images/IMG_20250318_134638_964.jpg);
  background-size: 800px;
  background-repeat: unset;
}
p{
  color:#ad3e3e;
}
h2{
  color:rgb(15, 83, 85)
}
